<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

    <h2>Management tool</h2>

    <div id="imagelist"><% include ../partials/imagelist.ejs %></div>

    <h2>Image gallery</h2>

    <div id="imagegallery"></div>

</body>
</html>