| <script type="text/template" id="feedTemplate">
|   <div class="feedName"><%= obj.name %></div>
|   <div class="up neutral"></div>
|   <div class="feedPrice"><%= obj.level %></div>
|   <div class="down neutral"></div>
|   <div class="change"></div>
|   <div class="spark"></div>
|   <div class="perchange"></div>
|   <div class="range"></div>
| </script>