noscript
  link(rel="stylesheet", href="/stylesheets/less/style.css")
  div(id='noscript') Javascript required
header(role="banner", id="banner")
  h1
    a(href="/") Football Radar Test - Andy Willis
  div(id="sparkSwitch")
    p Toggle sparklines: on