doctype 5
html
  head
    title Football Radar Test - Andy Willis
    include includes/meta
    link(rel="shortcut icon", href="/favicon.ico")
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    include includes/header
    block content
    include includes/feedTemplate
    include includes/feeds
    include includes/scripts